*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.clear{
    clear: both;
}

.places-list{
    width: 1920px;
    height: 1088px;
    background-color: #B4CDCD;
    padding: 129px 375px 129px;
    box-sizing: border-box;
}

.places-item{
    position: relative;
    float: left;
    width: 33.33333%;
    padding: 0 21px;
    text-align:center;
}

.places-head{
    position:absolute;
    background-color: #fff;
    height: 123px;
    width: 123px;
    display: inline-block;
    clip-path: circle(50%); 
    margin-top: -56px;
    text-align: center;
    margin-left: -59px;
    padding: 30px 10px;
}

.places-price{
    font-size: 32px;
    font-weight: 100;
}

.blue{
    background-color: #fff;
    color: #0099CC;
}

.violet{
    background-color:#2b2d3d;
    color: #d74498;
}

.green{
    background-color: #fff;
    color: #32ad1e;
}
.places-text{
    font-size: 16px;
    color: #99a9b5;
}

.per-tour{
    background-color:#2b2d3d;
}

.note{
    width: 64px;
    height: 65px;
    font-size: 12px;
    color: #fff;
    position: absolute;
    z-index: 1;
    float: left;
    padding: 25px 20px;
    margin-top: -13px;
    margin-left: -13px;
    background: url(/assets/img/newmark.png);
    
}
.places-slider{
    width: 348px;
    height: 269px;
    font-weight: 400;
    padding: 125px 0;
}

#ocean{
    background: url('/assets/img/ocean.png') top center / cover no-repeat;
}


#mountain{
    background: url('/assets/img/mountain.png') top center / cover no-repeat;

}

#forest{
    background: url('/assets/img/forest.png') top center / cover no-repeat;
}

.text-heading{
    text-transform: uppercase;
    font-weight: 100;
    color: #fff;
    font-size: 36px;
    letter-spacing: 4px;
}

.text-body{
    color: #b6c6c9;
    font-size: 14px;
}
.places-body{
    height: 496px;
    background-color: #fff;
}

.places-sub-heading{
    padding-top: 25px;
    font-size: 24px;
    color: #5f727f;
    font-weight: 100;

}

.places-sub-text{
    padding-bottom: 25px;
    font-size: 14px;
    color: #99a9b5;
}

.places-sub-body li{
    font-size: 16px;
    padding: 21px 0;
    list-style: none;
    color: #5f727f;
}

.sub-text{
    background-color: #ccc;
}
.places-sub-btn{
    display: inline-block;
    text-decoration: none;
    height: 40px;
    margin: 30px 0;
    text-transform: uppercase;
    font-size: 19px;
    border-width: 1px;
    border-style: ridge;
    text-align: center;
    padding: 11px 20px;
}

.places-sub-btn:hover{
    background-color: #6b136f;
    color: #fff;
    cursor: pointer;
}
